@import '../../../_css/common';

.filters {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: visible;
}

.categories {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selectWrapper, .categories .react-select__control {
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  box-sizing: border-box;
}

.react-select__control {
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.react-select__menu {
  width: 100% !important;
  min-width: 200px;
  max-width: 100vw;
  z-index: 10;
}

.title {
  white-space: nowrap;
}

.priceSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    white-space: nowrap;
  }
}

.hr {
  margin: 20px 0;
}

